.container {
	text-align: center
}

.token {
	max-width: 200px;
	white-space: nowrap; /* Запрет на перенос строк */
	overflow: hidden; /* Скрытие переполненного текста */
	text-overflow: ellipsis; /* Добавление многоточия */
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		text-decoration: underline;
	}
}
