.tab {
	display: flex;
	justify-content: space-between;
	width: 250px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.loader {
	display: flex;
	justify-content: center;
}

table {
	border: solid 1px #5b78a4;
	background-color: antiquewhite;
	border-collapse: collapse;
	margin-bottom: 10px;
	td,
	th {
		border: solid 1px #5b78a4;
		text-align: center;
		// max-width: 100px;
		// white-space: nowrap; /* Запрет на перенос строк */
		// overflow: hidden; /* Скрытие переполненного текста */
		// text-overflow: ellipsis; /* Добавление многоточия */
	}
}

.addBtn {
	margin-right: 5px;
}

.btnGroup {
	display: flex;
	justify-content: space-between;
	width: 270px;
	margin-bottom: 10px;
}
