.input {
	width: 300px;
}

.control {
	margin-bottom: 10px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loader {
	display: flex;
	justify-content: center;
}