.isInvalid {
	&:hover {
		border: 1px solid red;
	}
	&:focus {
		border: 1px solid red;
	}
	border: 1px solid red;
}

.input {
	width: 300px;
}

.control {
	margin-bottom: 10px;
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loader {
	display: flex;
	justify-content: center;
}

.invalid {
	font-size: 14px;
	color: red;
	margin: 0;
	padding-left: 5px;
	margin-bottom: 5px;
}
